<form action='/articles/<%= @article.id %>/edit' method='patch'>
   title: <input type='text' name='title'  >
   content: <input type='text' name='content'  >
   <input type="submit" id="submit">
</form>